<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Show Cities</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .column{
             float: left;
             width: auto;
             padding: 10px;
         }
    </style>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">Weather Web REST API</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/cities">Show All Cities</a></li>
            <li><a href="/today">Weather Today</a></li>
            <li><a href="/nextdays">Weather Next Days</a></li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="column" >

        <img  alt= "" src="https://images.squarespace-cdn.com/content/v1/57a5a984b8a79b2fec231e83/1472336767840-AWJDU3WTGNI1KJWYYKZ0/ke17ZwdGBToddI8pDm48kLro_yt08_sMfjl4s4lodVxZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpyN778PG5rRyvMaU3SA2zuNW0t_4jEMMsNOZ7AWUDthqDzja5ysiObrZAwGD7GDX6k/image-asset.jpeg?format=1000w" usemap="#image-map">

        <map name="image-map">
            <area target="" alt="Viana Do Castelo" title="Viana Do Castelo" href="/city?name=Viana Do Castelo" coords="295,53,31" shape="circle">
            <area target="" alt="Braga" title="Braga" href="/city?name=Braga" coords="331,93,30" shape="circle">
            <area target="" alt="Vila Real" title="Vila Real" href="/city?name=Vila Real" coords="425,114,41" shape="circle">
            <area target="" alt="Bragança" title="Bragança" href="/city?name=Bragança" coords="530,97,62" shape="circle">
            <area target="" alt="Porto" title="Porto" href="/city?name=Porto" coords="316,149,32" shape="circle">
            <area target="" alt="Aveiro" title="Aveiro" href="/city?name=Aveiro" coords="315,231,40" shape="circle">
            <area target="" alt="Viseu" title="Viseu" href="/city?name=Viseu" coords="397,222,44" shape="circle">
            <area target="" alt="Guarda" title="Guarda" href="/city?name=Guarda" coords="488,230,46" shape="circle">
            <area target="" alt="Coimbra" title="Coimbra" href="/city?name=Coimbra" coords="322,314,36" shape="circle">
            <area target="" alt="Castelo Branco" title="Castelo Branco" href="/city?name=Castelo Branco" coords="458,348,53" shape="circle">
            <area target="" alt="Leiria" title="Leiria" href="/city?name=Leiria" coords="267,392,37" shape="circle">
            <area target="" alt="Santarem" title="Santarem" href="/city?name=Santarem" coords="318,463,48" shape="circle">
            <area target="" alt="Portalegre" title="Portalegre" href="/city?name=Portalegre" coords="451,455,55" shape="circle">
            <area target="" alt="Lisboa" title="Lisboa" href="/city?name=Lisboa" coords="232,519,41" shape="circle">
            <area target="" alt="Setubal" title="Setubal" href="/city?name=Setubal" coords="271,589,36" shape="circle">
            <area target="" alt="Beja" title="Beja" href="/city?name=Beja" coords="406,689,57" shape="circle">
            <area target="" alt="Faro" title="Faro" href="/city?name=Faro" coords="401,822,42" shape="circle">
            <area target="" alt="Evora" title="Evora" href="/city?name=Evora" coords="405,570,51" shape="circle">
            <area target="" alt="Açores" title="Açores" href="/city?name=Açores" coords="2,36,232,209" shape="rect">
            <area target="" alt="Madeira" title="Madeira" href="/city?name=Madeira" coords="0,211,142,354" shape="rect">
        </map>
    </div>
    <div class="column" >
            <div class="container-fluid">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> Filter
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <input class="form-control" id="myInput" type="text" placeholder="Region">
                        <li><a href="/onlyNorth">North</a></li>
                        <li><a href="/onlyCenter">Center</a></li>
                        <li><a href="/onlySouth">South</a></li>
                        <li><a href="/onlyIsle">Isle</a></li>
                    </ul>

                </div>
            </div>
    </div>

</div>


</body>
</html>